# Node.js
node_modules/

# Build output
/dist/
/.vite/

# Cache and logs
.cache/
logs/

# IDE-specific files
.vscode/
.idea/

# Dependency files
package-lock.json
yarn.lock

# Environment variables
.env

# Mac OS specific files
.DS_Store
